/* MODULO: controllers
 * Creación de interfaces para terminal.
 * Estilos generales para la interfaz.
 *
 * DataTable: Para estilizar el contenedor principal de la tabla (bordes, márgenes, fondo general).
 * .datatable--header: Para la fila de la cabecera.
 * .datatable--cell: Para las celdas individuales.
 * .datatable--cursor: Para la celda o fila que está actualmente seleccionada por el cursor.
 * .datatable--highlighted: Para la fila resaltada.
 * .datatable--striped: Para crear el efecto "cebra" de colores alternos en las filas y mejorar la legibilidad.
 * */

$background_normal: #16161A;
$background_dark: #0C0C0F;
$orange_flu: #FF9E64;
$dark_grey: #32344A;
$blue_sky: #A9B1D6;

Screen {
    background: $background_normal;
    layout: vertical;
    padding: 1 2;
}

Header {
    background: $background_normal;
    margin-bottom: 1;
}

#leyenda, #prioridad, #notas {
    padding: 0 2 1 2; /* Un poco de padding para que no esté pegado a los bordes */
    color: $blue_sky; /* Un color que combine y sea legible */
    height: auto; /* La altura se ajusta al contenido */
}

DataTable {
    margin-top: 1;
    background: $background_dark;
    padding: 1 2;
}

DataTable > .datatable--header {
    margin-bottom: 2;
    background: #000000;
    color: $blue_sky;
    text-style: bold;
    padding: 1 4;
}

DataTable > .datatable--cell {
    background: $background_normal;
    tint: black 0%;
}

DataTable > .datatable--cursor {
    background: $orange_flu;
    color: $background_dark;
    text-style: bold;
}

Footer {
    padding: 0 3;
    background: $dark_grey;
    text-align: center;
}

AskIdScreen {
    align: center middle;
}

AskIdScreen .dialog {
    align: center middle;
    width: 30%;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}


AskIdScreen .dialog > Label,
AskIdScreen .dialog > Input {
    width: 100%;
}

AskIdScreen > Input {
    background: $background_dark;
    border: round $orange_flu;
}

AddTaskScreen {
    align: center middle;
}



AddTaskScreen .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

AddTaskScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}

#submit, #cancel, #close_details {
    height: 3;
    padding: 0;
    border: round #FF9E64;      /* Tu borde naranja redondeado */
    background: #16161A;        /* Un fondo oscuro ($background_normal) */
    color: #A9B1D6;             /* Un texto claro ($blue_sky) */
}


FilterTasksScreen {
    align: center middle;
}

FilterTasksScreen .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

FilterTasksScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}



AskTaskEdit {
    align: center middle;
}

AskTaskEdit .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

AskTaskEdit .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}


ViewDetailsScreen {
    align: center middle;
}

ViewDetailsScreen .dialog {
    width: 80%; /* Ancho ajustado al 80% de la pantalla */
    height: 30;
    padding: 1 2;
    background: $background_dark;
}

ViewDetailsScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}

#markdown_container {
    background: $background_dark;
    height: auto;
    margin-bottom: 1; /* Un poco de espacio antes del botón */
}
