root {
    --h1-color: #9aa5ce;
    --h2-color: #9aa5ce;
    --h3-color: #9aa5ce;
    --h4-color: #9aa5ce;
    --h5-color: #9aa5ce;
    --h6-color: #9aa5ce;
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
    height: 90%;
}
