/* MODULO: controllers */
/* ............................................................... styles   */
/* Estilos para interfaz. */

/* OK: */

$background_normal: #16161A;
$background_dark: #0C0C0F;
$orange_flu: #FF9E64;
$dark_grey: #32344A;
$blue_sky: #A9B1D6;
$dark_grey_2: rgba(50, 52, 74, 0.15);
/* Pantalla General */
Screen {
    background: $background_normal;
    layout: vertical;
    padding: 1 2;
}


/* ........................................ Cabecera | Leyendas de íconos   */
Header {
    background: $background_normal;
    margin-bottom: 1;
}

/* Leyendas */
#leyenda, #prioridad, #notas {
    padding: 0 2 1 2;
    color: $blue_sky;
    height: auto;
}


/* ...................................................... Tabla de tareas   */
DataTable {
    margin-top: 1;
    background: $background_dark;
    padding: 1 2;
    color: $blue_sky;
}

DataTable > .datatable--header {
    margin-bottom: 2;
    background: #000000;
    color: $blue_sky;
    text-style: bold;
    padding: 1 4;
}

DataTable > .datatable--cell {
    background: $background_normal;
    tint: black 0%;
}

DataTable > .datatable--cursor {
    background: $dark_grey_2;
    color: white;
    text-style: bold;
}


/* .......................................... Pantalla de solicitud de ID   */
AskIdScreen {
    align: center middle;
}

AskIdScreen .dialog {
    align: center middle;
    width: 30%;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

AskIdScreen .dialog > Label,
AskIdScreen .dialog > Input {
    width: 100%;
}

AskIdScreen > Input {
    background: $background_dark;
    border: round $orange_flu;
}


/* .................................... Pantalla para agregar tarea nueva   */
AddTaskScreen {
    align: center middle;
}

AddTaskScreen .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

AddTaskScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}


/* ...................................... Pantalla para filtrado de tarea   */
FilterTasksScreen {
    align: center middle;
}

FilterTasksScreen .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

FilterTasksScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}


/* ......................................... Pantalla de Edición de tarea   */
AskTaskEdit {
    align: center middle;
}

AskTaskEdit .dialog {
    align: center middle;
    width: 60;
    height: auto;
    padding: 1 2;
    background: $background_dark;
}

AskTaskEdit .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}

ViewDetailsScreen {
    align: center middle;
}

ViewDetailsScreen .dialog {
    width: 80%;
    height: 30;
    padding: 1 2;
    background: $background_dark;
}

ViewDetailsScreen .buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}


/* .............................................................. Botones   */
#submit, #cancel, #close_details {
    height: 3;
    padding: 0;
    border: round #FF9E64;
    background: #16161A;
    color: #A9B1D6;
}


/* .............................. Contenedor Markdown - Detalles de notas   */
#markdown_container {
    background: $background_dark;
    height: auto;
    margin-bottom: 1;
}


/* ........................................................ Menu Inferior   */
Footer {
    padding: 0 3;
    background: $dark_grey;
    text-align: center;
}
